<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeOldify Web App</title>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    /> -->
  </head>
  <body>
    <h1>DeOldify Web App</h1>
    <form action="/uploads" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required />
      <img
        src="{{ url_for('static', filename=uploaded_file_url) }}"
        alt="Uploaded Image"
      />

      <button type="submit">Upload and Colorize</button>
    </form>
  </body>
</html>
